@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abel&family=Gochi+Hand&display=swap");

body {
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
	margin: 0;
	padding: 0;
}
p {
	font-family: "poppins";
	background-color: rgba(
		0,
		0,
		0,
		0.392
	);
	color: rgb(255, 255, 255);
	width: 50%;
	margin-left: 20%;
	/* margin-right: 50%; */
	padding: 70px;
	font-size: 1.5em;
	border-radius: 10px;
}

.anextpage {
	position: absolute;
	color: #fff;
	text-align: center;
	font-size: 2em;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 10px;
	top: 75%;
	transform: translateY(-70%);
	left: 0;
	right: 0;
	z-index: 99;
	pointer-events: visiblePainted;
	mix-blend-mode: overlay;
	text-decoration: none;
	border: #fff 5px solid;
	cursor: pointer;
}
.abackpage {
	position: absolute;
	color: #fff;
	text-align: center;
	font-size: 2em;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 10px;
	top: 85%;
	transform: translateY(-70%);
	left: 0;
	right: 0;
	z-index: 99;
	pointer-events: visiblePainted;
	mix-blend-mode: overlay;
	text-decoration: none;
	border: #fff 5px solid;
	cursor: pointer;
}
